# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

In [2]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'

### Step 3. Assign it to a variable called wine

In [3]:
wine = pd.read_csv(url, header=None)
wine.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [4]:
for t in [0,3,6,8,10,12,13]:
    del wine[t]
wine.head()

      1     2     4    5     7     9     11
0  14.23  1.71  15.6  127  3.06  2.29  1.04
1  13.20  1.78  11.2  100  2.76  1.28  1.05
2  13.16  2.36  18.6  101  3.24  2.81  1.03
3  14.37  1.95  16.8  113  3.49  2.18  0.86
4  13.24  2.59  21.0  118  2.69  1.82  1.04

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [5]:
wine.columns=['alcohol','malic_acid','alcalinity_of_ash','magnesium','flavanoids','proanthocyanins','hue']

In [6]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,14.23,1.71,15.6,127,3.06,2.29,1.04
1,13.20,1.78,11.2,100,2.76,1.28,1.05
2,13.16,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [7]:
wine.loc[:2,'alcohol']= pd.np.nan

C:\Users\Thanh Tran\AppData\Local\Temp\ipykernel_19320\3513411376.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  wine.loc[:2,'alcohol']= pd.np.nan

In [8]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127,3.06,2.29,1.04
1,NaN,1.78,11.2,100,2.76,1.28,1.05
2,NaN,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [10]:
wine.loc[3:4,'magnesium']= pd.np.nan

C:\Users\Thanh Tran\AppData\Local\Temp\ipykernel_19320\1757059935.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  wine.loc[3:4,'magnesium']= pd.np.nan

In [11]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127.0,3.06,2.29,1.04
1,NaN,1.78,11.2,100.0,2.76,1.28,1.05
2,NaN,2.36,18.6,101.0,3.24,2.81,1.03
3,NaN,1.95,16.8,NaN,3.49,2.18,0.86
4,NaN,2.59,21.0,NaN,2.69,1.82,1.04

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [13]:
wine.alcohol.fillna(10, inplace = True)

wine.magnesium.fillna(100, inplace = True)

wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.0,1.71,15.6,127.0,3.06,2.29,1.04
1,10.0,1.78,11.2,100.0,2.76,1.28,1.05
2,10.0,2.36,18.6,101.0,3.24,2.81,1.03
3,10.0,1.95,16.8,100.0,3.49,2.18,0.86
4,10.0,2.59,21.0,100.0,2.69,1.82,1.04

### Step 9. Count the number of missing values

In [14]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   alcohol            178 non-null    float64
 1   malic_acid         178 non-null    float64
 2   alcalinity_of_ash  178 non-null    float64
 3   magnesium          178 non-null    float64
 4   flavanoids         178 non-null    float64
 5   proanthocyanins    178 non-null    float64
 6   hue                178 non-null    float64
dtypes: float64(7)
memory usage: 9.9 KB

In [15]:
wine.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [17]:
random=pd.np.random.randint(10, size=10)
random

C:\Users\Thanh Tran\AppData\Local\Temp\ipykernel_19320\4124237588.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  random=pd.np.random.randint(10, size=10)

array([4, 5, 6, 8, 1, 2, 9, 2, 5, 0])

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [19]:
wine.loc[random,:]=pd.np.nan
wine.head()

C:\Users\Thanh Tran\AppData\Local\Temp\ipykernel_19320\3944538968.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  wine.loc[random,:]=pd.np.nan

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10.0,1.95,16.8,100.0,3.49,2.18,0.86
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Step 12.  How many missing values do we have?

In [20]:
wine.isnull().sum()

alcohol              8
malic_acid           8
alcalinity_of_ash    8
magnesium            8
flavanoids           8
proanthocyanins      8
hue                  8
dtype: int64

### Step 13. Delete the rows that contain missing values

In [21]:
wine.dropna(axis='index',inplace=True)

In [22]:
wine.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 14. Print only the non-null values in alcohol

In [24]:
wine.alcohol

3      10.00
7      14.06
10     14.10
11     14.12
12     13.75
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: alcohol, Length: 170, dtype: float64

### Step 15.  Reset the index, so it starts with 0 again

In [26]:
wine.reset_index(drop=True, inplace=True)
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.95,16.8,100.0,3.49,2.18,0.86
1,14.06,2.15,17.6,121.0,2.51,1.25,1.06
2,14.10,2.16,18.0,105.0,3.32,2.38,1.25
3,14.12,1.48,16.8,95.0,2.43,1.57,1.17
4,13.75,1.73,16.0,89.0,2.76,1.81,1.15

### BONUS: Create your own question and answer it.